<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-img src="https://pbs.twimg.com/profile_images/3309909202/35c09b2a16de733d413957de511442cb_400x400.jpeg">
    </ion-img>
    <ion-card-header>
      <ion-card-title>AL's Activity</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-img src="https://pbs.twimg.com/profile_images/3309909202/35c09b2a16de733d413957de511442cb_400x400.jpeg">
    </ion-img>
    <ion-card-header>
      <ion-card-title>AL's Activity</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-img src="https://pbs.twimg.com/profile_images/3309909202/35c09b2a16de733d413957de511442cb_400x400.jpeg">
    </ion-img>
    <ion-card-header>
      <ion-card-title>AL's Activity</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-img src="https://pbs.twimg.com/profile_images/3309909202/35c09b2a16de733d413957de511442cb_400x400.jpeg">
    </ion-img>
    <ion-card-header>
      <ion-card-title>AL's Activity</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-img src="https://pbs.twimg.com/profile_images/3309909202/35c09b2a16de733d413957de511442cb_400x400.jpeg">
    </ion-img>
    <ion-card-header>
      <ion-card-title>AL's Activity</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>